/* Add CSS Styling 
- **The first element**: a black background and white text
- **The second element**: a yellow background
- **Both elements**: a font size of 28px and a list of fonts containing `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback
*/
.Click-Me{
    background-color: #000000; 
    color:#FFFFFF;
}
.No{
    background-color:#FFFF00;
}
.Click-Me, .No {
    font-size: 28px;
    font-family: 'Helvetica', 'Times new Roman', sans-serif;
}